<div>
    <menu></menu>
    <div class="home">

        <div class="homeImg">
            <img src="../../../assets/images/home3.jpg">
            <img src="../../../assets/images/home4.jpg">
            <img src="../../../assets/images/home2.jpg">
            <img src="../../../assets/images/home5.jpg">
        </div>
        <div class="abt">

            <p>
                The India national cricket team, also known as Team India and Men in Blue, is governed by the Board of Control for Cricket in India, and is a Full Member of the International Cricket Council with Test, One-Day International and Twenty20 International
                status.
            </p>
            <p>
                Debuting as test cricket team at Lord's, England on 25 June 1932, the Indian cricket team became the sixth Test playing team. For nearly fifty years, India was weaker than most of the other Test cricket teams, such as Australia and England, winning only
                35 of the 196 matches it played during this period. The team gained strength near the end of the 50-year period with the emergence of players such as Sunil Gavaskar and Kapil Dev and the Indian spin quartet. The Indian team has continued
                to be highly ranked since then in both Test cricket and One-day Internationals. The team won the Cricket World Cup in 1983 and was runners-up in 2003. The current team contains many of the world's leading players, including Sachin Tendulkar,
                Rahul Dravid and Anil Kumble, who hold numerous cricketing world records.. As of October 2006, the team is ranked fourth in the ICC Test Championship and in a tie for fourth place in the ICC ODI Championship
            </p>
            <p>
                Traditionally much stronger at home than abroad, the Indian team has improved its overseas form, especially in limited-overs cricket, since the start of the 21st century, winning Test matches in Australia, England and South Africa. It has won the Cricket
                World Cup twice – in 1983 under the captaincy of Kapil Dev and in 2011 under the captaincy of Mahendra Singh Dhoni. After winning the 2011 World Cup, India became only the third team after West Indies and Australia to have won the World
                Cup more than once,[10] and the first cricket team to win the World Cup at home. It also won the 2007 ICC World Twenty20 and 2013 ICC Champions Trophy, under the captaincy of MS Dhoni. It was also the joint champions of 2002 ICC Champions
                Trophy, along with Sri Lanka.
            </p>
        </div>
    </div>
</div>